.catalog {
  position: relative;
}

.catalog__link-to-filter {
  display: none;

  @media (max-width: $m-end) {
    display: block;
    background-color: $dark-gold;
    text-decoration: none;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: $white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 23px;
    margin-bottom: 50px;
    max-height: 68px;
    overflow: hidden;
  }
}

.catalog__layout {
  display: grid;
  grid-template-columns: minmax(180px, 250px) minmax(10px, 50px) minmax(710px, 867px);
  //column-gap: 50px;
  grid-template-rows: 1560px;

  @media (max-width: $m-end) {
    grid-template-columns: 1fr;
    grid-template-rows: 1300px;
  }
}

.catalog__filter-form {
  @media (max-width: $m-end) {

  }
}

.catalog__slider {
  width: 100%;
  grid-column: 3/-1;
}

.catalog__list {
  width: 100%;
}

.catalog__item {
  margin-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.catalog__pagination {
  bottom: 6px;

  span {
    background-color: transparent;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    opacity: 1;
    color: $light-gary;
    width: 15px;
    height: 17px;
  }

  .swiper-pagination-bullet-active {
    color: $dark;
  }
}

.catalog__buttons-item {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: $dark;
  background-color: transparent;
  position: absolute;
  border: none;
  bottom: 7px;
  padding: 0;
  overflow: hidden;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}
