.close {
  @include square(25px);
  background-color: transparent;
  position: absolute;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $dark-gold;
  }

  &::before,
  &::after {
    @include pseudo();
    @include size(17px, 2px);
    background-color: $dark;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (max-width: $m-end) {
    @include square(35px);

    &--big {
      &::before,
      &::after {
        @include size(25px, 3px);
      }
    }
  }

  @media (max-width: $s-end) {
    &--big {
      @include square(25px);

      &::before,
      &::after {
        @include size(21px, 2px);
      }
    }
  }
}
