.filter-range {
  position: relative;
  min-height: 41px;

  @media (max-width: $m-end) {
    min-height: 46px;
  }
}

.filter-range__controls {
  position: relative;
}

.filter-range__scale {
  height: 1px;
  width: 100%;
  background-color: $background-gray;
  position: absolute;
  top: 8px;
}

.filter-range__bar {
  position: absolute;
  height: 1px;
  background-color: $dark-gold;
  left: 27%;
  width: 51%;

  @media (max-width: $m-end) {
    left: 18%;
    height: 1px;
    width: 58%;
  }
}

.filter-range__toggle {
  @include square(15px);
  background-color: $dark-gold;
  border-radius: 50%;
  position: absolute;
  border: 1px solid $dark-gold;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.2);
    transition: all 300ms;
  }

  &--min {
    left: 21.7%;
  }

  &--max {
    right: 18.5%;
  }

  @media (max-width: $m-end) {
    @include square(18px);

    &--min {
      left: 14.7%;
    }

    &--max {
      right: 20.7%;
    }
  }

  @media (max-width: $s-end) {
    &--min {
      left: 12.7%;
    }
  }
}

.filter-range__inp {
  position: absolute;
  bottom: 0;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: $dark;


  input {
    width: 33px;
    border: none;
    background-color: transparent;
    padding-right: 2px;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $dark-gold;
    }
  }

  &--min {
    left: 18%;
  }

  &--max {
    right: 8%;
  }

  @media (max-width: $m-end) {
    font-size: 16px;

    &--min {
      left: 12%;
    }

    &--max {
      right: 11%;
    }
  }

  @media (max-width: $s-end) {
    input {
      width: 35px;
    }

    &--min {
      left: 8%;
    }

    &--max {
      right: 6%;
    }
  }
}
