.filter-form {
  position: relative;
  max-width: 250px;

  &--nojs {
    width: 250px;
    position: static;
  }

  @media (max-width: $m-end) {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100px;
    right: 0;
    margin: 0 auto;
    max-width: 423px;
    box-shadow: 0 5px 32px rgba($shadow, 0.24);
    padding-bottom: 28px;
    background-color: $white;
    display: none;

    &--opened {
      display: block;
    }

    &--nojs {
      width: 423px;
      display: block;
      position: static;
    }
  }

  @media (max-width: $s-end) {
    max-width: 270px;

    &--nojs {
      width: 280px;
      position: static;
    }
  }
}

.filter-form__box {
  border: 1px solid $dark-gold;
  border-bottom: none;
  margin: 0;
  padding: 19px 23px 18px 25px;

  &:last-of-type {
    border-bottom: 1px solid $dark-gold;
    margin-bottom: 34px;
  }

  @media (max-width: $m-end) {
    border: none;
    border-bottom: 1px solid $dark-gold;
    padding: 30px 38px 30px 21px;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }

  @media (max-width: $s-end) {
    padding-right: 17px;
    padding-top: 19px;
    padding-bottom: 19px;

    &:last-of-type {
      margin-bottom: 28px;
    }
  }
}

.filter-form__heading {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: $dark;

  @media (max-width: $m-end) {
    font-size: 18px;
  }
}

.filter-form__open-link {
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 0;

  &::after {
    @include pseudo($pos: static);
    @include size(22px, 12px);
    background-image: url("../img/icon-details.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $dark-gold;
  }

  &--opened {
    &::after {
      transform: rotate(180deg);
    }
  }

  @media (max-width: $m-end) {
    &::after {
      @include size(25px, 14px);
    }
  }
}

.filter-form__check-container {
  margin-top: 17px;
  margin-left: 9px;
  margin-bottom: 7px;

  @media (max-width: $m-end) {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (max-width: $s-end) {
    margin-bottom: 8px;
  }

  &--closed {
    display: none;
  }
}

.filter-form__checkbox {
  margin-bottom: 13px;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    color: $dark;
    position: relative;
    padding-left: 25px;
    display: block;

    &::before {
      @include pseudo();
      @include square(15px);
      border: 1px solid $dark-gold;
      background-color: transparent;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  input:checked ~ label {
    &::before {
      background-color: $dark-gold;
    }
  }

  &:hover,
  &:focus-within {
    label {
      color: $dark-gold;

      &::before {
        transform: scale(1.04);
        transition: all 300ms;
      }
    }
  }

  @media (max-width: $m-end) {
    margin-bottom: 18px;

    label {
      font-size: 16px;
      padding-left: 31px;

      &::before {
        @include square(18px);
      }
    }
  }
}

.filter-form__range {
  margin-top: 12px;

  @media (max-width: $m-end) {
    margin-left: 10px;
    margin-right: 49px;
    margin-top: 18px;
  }

  @media (max-width: $s-end) {
    margin: 19px 0 6px;
  }
}

.filter-form__btn {
  max-width: 250px;
  width: 100%;
  border: none;
  background-color: $dark-gold;
  color: $white;
  text-align: center;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  padding: 26px 10px 22px;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    outline: none;
    background-color: lighten($dark-gold, 10%);
  }

  &--reset {
    background-color: $white;
    color: $dark-gold;
    border: 1px solid $dark-gold;
    margin-bottom: 0;

    &:hover,
    &:focus {
      outline: none;
      background-color: lighten($dark-gold, 30%);
    }
  }

  @media (max-width: $m-end) {
    display: block;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    &--reset {
      margin-bottom: 0;
    }
  }

  @media (max-width: $s-end) {
    width: 230px;
    margin-bottom: 20px;

    &--reset {
      margin-bottom: 0;
    }
  }
}

.filter-form__close {
  display: none;

  @media (max-width: $m-end) {
    @include size(32px, 32px);
    display: block;
    position: absolute;
    background-color: $black;
    border-radius: 50%;
    border: 1px solid $black;
    top: -13px;
    right: -15px;


    &::before,
    &::after {
      @include pseudo();
      @include size(14px, 2px);
      background-color: $white;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      outline: none;
      transform: scale(1.2);
      transition: all 300ms;
    }
  }

  @media (max-width: $s-end) {
    top: -16px;
    right: -10px;
  }
}
