.footer {
  background-color: $black;
  color: $white;
  padding-bottom: 94px;
  padding-top: 90px;

  @media (max-width: $m-end) {
    padding-bottom: 57px;
    padding-top: 52px;
  }

  @media (max-width: $s-end) {
    padding-bottom: 48px;
  }
}

.footer__layout {
  display: grid;
  grid-template-columns: minmax(410px, 500px) minmax(30px, 77px) minmax(300px, 380px) minmax(30px, 93px) 120px;

  @media (max-width: $m-end) {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 45px;
  }

  @media (max-width: $s-end) {
    display: block;
    margin-left: 0;
  }
}

.footer__subscribe {
  @media (max-width: $m-end) {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  @media (max-width: $s-end) {
    margin-bottom: 45px;
  }
}

.footer__about {
  grid-column: 3/4;
  margin-top: 7px;
  margin-left: 13px;

  @media (max-width: $m-end) {
    grid-column: 1/3;
    margin-top: 0;
    margin-left: 0;
  }

  @media (max-width: $s-end) {

  }
}

.footer__socials {
  grid-column: 5/6;
  margin-top: 7px;

  @media (max-width: $m-end) {
    grid-column: 3/4;
    margin-top: 0;
    margin-right: auto;
  }

  @media (max-width: $s-end) {

  }
}
