.header {
  padding-top: 30px;
  padding-bottom: 18px;
  position: relative;

  @media (max-width: $m-end) {
    &--closed {
      .nav,
      .search-form,
      .user-nav__login {
        display: none;
      }

      .user-nav__bucket {
        font-size: 0;

        svg {
          display: block;
          fill: $white;
        }
      }

      .header__toggle {
        display: block;
      }
    }

    &--opened {
      background-color: $dark-gold;
      min-height: 100vh;
      padding-bottom: 75px;

      .user-nav__login {
        display: none;
      }

      .user-nav__bucket {
        font-size: 0;

        svg {
          display: block;
          fill: transparent;
          stroke: $white;
        }
      }

      .nav,
      .search-form,
      .nav__small-list,
      .nav__login {
        display: block;
      }

      .header__logo {
        svg {
          stroke: $white;
        }
      }

      .header__toggle {
        margin-bottom: 63px;
        order: 0;
        display: block;

        span {
          background-color: $white;

          &::before,
          &::after {
            background-color: $white;
          }
        }
      }

      .header__top {
        flex-wrap: wrap;
        margin-bottom: 46px;
      }

      .user-nav {
        order: 1;
      }

      .search-form {
        order: 2;
      }
    }
  }

  @media (max-width: $s-end) {
    &--closed {
      padding-top: 34px;
      padding-bottom: 12px;
    }

    &--opened {
      padding-bottom: 45px;

      .header__toggle {
        margin-bottom: 52px;
      }

      .header__top {
        margin-bottom: 36px;
      }
    }
  }
}

.header__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 15px;
  overflow-y: hidden;
  max-height: 78px;
  min-height: 78px;
  margin-bottom: 26px;

  &::after {
    @include pseudo();
    @include size(100%, 1px);
    background-color: $white-gray;
    top: 114px;
    left: 0;
  }

  @media (max-width: $m-end) {
    padding: 0;
    margin: 0;
    max-height: unset;
    overflow-y: visible;
    min-height: unset;

    &::after {
      display: none;
    }
  }
}

.header__toggle {
  display: none;

  @media (max-width: $m-end) {
    margin-top: 23px;
    margin-left: 20px;
  }

  @media (max-width: $s-end) {
    margin: 0;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;

  @media (max-width: $s-end) {
    top: 21px;

    svg {
      width: 52px;
      height: 52px;
    }
  }
}

.header__search-form {
  margin-top: 7px;

  @media (max-width: $m-end) {
    margin: 0 20px;
  }

  @media (max-width: $s-end) {
    margin: 0;
  }
}
