.inst {
  color: $dark;
  line-height: 1.3;
}

.inst h2 {
  font-family: $cg;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  @media (max-width: $m-end) {
    margin-bottom: 19px;
  }
}

.inst p {
  margin-top: 0;
  margin-bottom: 59px;
  padding-bottom: 7px;
  position: relative;
  text-align: center;

  &::after {
    @include pseudo();
    @include size(74px, 1px);
    background-color: $dark-gold;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $s-end) {
    margin-bottom: 46px;
    padding-bottom: 5px;
  }
}

.inst__follow {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.inst__wrapper {
  display: flex;

  @media (max-width: $m-end) {
    width: 678px;
    margin: 0 auto;
  }

  @media (max-width: $s-end) {
    flex-wrap: wrap;
    width: 290px;
  }
}

.inst__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--l {
    margin-right: 2.6%;
    display: flex;
    flex-direction: column;
    width: 19.7%;
  }

  &--r {
    display: grid;
    grid-template-rows: 223px 191px;
    grid-template-columns: 52.6% 50.4%;
    max-width: 46.1%;
    margin-left: 2.6%;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 450px;
  }

  @media (max-width: $m-end) {
    &--l {
      width: auto;
    }

    &--r {
      max-width: unset;
      min-width: 277px;
      grid-template-rows: 129px 111px;
    }
  }

  @media (max-width: $s-end) {
    &--l {
      margin-right: 4.9%;
    }

    &--r {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 9px;
      margin-left: 0;
    }
  }
}

.inst__item {
  &--l {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &--r2 {
    display: flex;
    justify-content: flex-end;
  }

  &--r4 {
    align-self: flex-end;
  }

  &--big {
    width: 34.2%;
  }

  @media (max-width: $m-end) {
    overflow: hidden;

    &--l {
      width: 133px;
      margin-top: 18px;
    }

    &--l1 {
      height: 133px;
    }

    &--l2 {
      height: 89px;
    }

    &--big {
      width: 231px;
      height: 240px;
      overflow: hidden;
    }

    &--r1 {
      width: 131px;
      height: 111px;
    }

    &--r2 {
      width: 126px;
      height: 126px;
      justify-self: center;
    }

    &--r3 {
      width: 126px;
      height: 111px;
    }

    &--r4 {
      width: 134px;
      height: 96px;
    }
  }

  @media (max-width: $s-end) {
    &--l {
      margin-top: 15px;
    }

    &--l1 {
      width: 130px;
      height: 130px;
    }

    &--l2 {
      width: 130px;
      height: 87px;
    }

    &--big {
      width: 145px;
      height: 226px;
    }

    &--r1 {
      width: 145px;
      height: 121px;
    }

    &--r2,
    &--r4 {
      display: none;
    }

    &--r3 {
      order: -1;
      margin-top: 6px;
      width: 130px;
      height: 115px;
    }
  }
}
