.login {
  width: 430px;
  background-color: $background-gray;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;

  h2 {
    font-family: $cg;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.3;
    color: $dark;
    text-align: center;
    margin-top: 0;
    margin-bottom: 21px;
  }

  @media (max-width: $m-end) {
    width: 442px;
  }

  @media (max-width: $s-end) {
    width: 84.5%;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

.login__layout {
  padding: 20px 45px 60px;

  @media (max-width: $m-end) {
    padding: 20px 50px 60px;
  }

  @media (max-width: $s-end) {
    padding: 20px 14px 40px;
  }
}

.login__img-container {
  width: 100%;
  height: 138px;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $s-end) {
    height: 84px;
    margin-bottom: 17px;
  }
}

.login__new-login {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $light-gary;
  text-align: center;
  margin: 0;
}

.login__new-link {
  color: $dark;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: $dark-gold;
  }
}

.login__close {
  top: 12px;
  right: 15px;

  @media (max-width: $m-end) {
    top: 11px;
    right: 10px;
  }

  @media (max-width: $s-end) {
    top: 3px;
    right: 3px;
  }
}

.login__form {
  margin-bottom: 14px;
}
