.main-catalog {
  &__promo {
    margin-bottom: 80px;
  }

  &__catalog {
    margin-bottom: 75px;
  }

  @media (max-width: $m-end) {
    &__promo {
      margin-bottom: 50px;
    }

    &__catalog {
      margin-bottom: 75px;
    }
  }

  @media (max-width: $s-end) {
    &__promo {
      margin-bottom: 40px;
    }

    &__catalog {
      margin-bottom: 55px;
    }
  }
}
