.main {
  &__promo {
    margin-bottom: 120px;
  }

  &__novelty {
    margin-bottom: 110px;
  }

  &__blog {
    margin-bottom: 119px;
  }

  &__faq {
    margin-bottom: 109px;
  }

  &__inst{
    margin-bottom: 130px;
  }
}
