.main-catalog__promo {
  margin-bottom: 80px;

  @media (max-width: $m-end) {
    margin-bottom: 50px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 40px;
  }
}

.main-catalog__catalog {
  margin-bottom: 75px;

  @media (max-width: $s-end) {
    margin-bottom: 65px;
  }
}
