.main-product {
  margin-top: 71px;

  @media (max-width: $m-end) {
    margin-top: 21px;
  }

  @media (max-width: $s-end) {
    margin-top: 0;
  }
}

.main-product__product-card {
  margin-bottom: 121px;

  @media (max-width: $m-end) {
    margin-bottom: 66px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 58px;
  }
}

.main-product__novelty {
  margin-bottom: 120px;

  @media (max-width: $m-end) {
    margin-bottom: 69px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 65px;
  }
}
