.main__promo {
  margin-bottom: 120px;

  @media (max-width: $m-end) {
    margin-bottom: 71px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 60px;
  }
}

.main__novelty {
  margin-bottom: 110px;

  @media (max-width: $m-end) {
    margin-bottom: 61px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 55px;
  }
}

.main__blog {
  margin-bottom: 119px;

  @media (max-width: $m-end) {
    margin-bottom: 70px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 57px;
  }
}

.main__faq {
  margin-bottom: 109px;

  @media (max-width: $m-end) {
    margin-bottom: 75px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 60px;
  }
}

.main__inst {
  margin-bottom: 130px;

  @media (max-width: $m-end) {
    margin-bottom: 79px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 71px;
  }
}
