.main-catalog {
  &__promo {
    margin-bottom: 80px;
  }

  &__catalog {
    margin-bottom: 68px;
  }

  @media (max-width: $m-end) {
    &__promo {
      margin-bottom: 50px;
    }

    &__catalog {
      margin-bottom: 65px;
    }
  }
}
