.novelty {
  color: $dark;
  line-height: 1.3;
  position: relative;
}

.novelty__layout {
  position: relative;
}

.novelty h2 {
  font-family: $cg;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;

  @media (max-width: $m-end) {
    margin-bottom: 19px;
  }
}

.novelty p {
  text-align: center;
  padding-bottom: 0;
  position: relative;
  margin-top: 0;
  margin-bottom: 58px;
  font-size: 16px;

  &::after {
    @include pseudo();
    @include size(80px, 1px);
    background-color: $dark-gold;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @media (max-width: $m-end) {
    padding-bottom: 5px;
    margin-bottom: 50px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 40px;
  }
}

.novelty__excerpt {
  font-size: 16px;
  font-family: $poppins;
  line-height: 21px;
  font-style: normal;
  font-weight: 500;
}

.novelty__slider {
  position: static;
}

.novelty__list {
  margin-bottom: 48px;

  @media (max-width: $m-end) {
    margin-bottom: 41px;
  }

  @media (max-width: $s-end) {
    margin-bottom: 32px;
  }
}

.novelty__pagination {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.novelty .swiper-pagination-bullet {
  @include size(13px, 30px);
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-gary;
  background-color: transparent;
  opacity: 1;

  &:hover,
  &:focus {
    outline: none;
    transition: all 300ms;
    transform: scale(1.03);
    color: $dark-gold;
  }

  @media (max-width: $m-end) {
    width: 15px;
  }
}

.novelty .swiper-pagination-bullet-active {
  color: $dark;
}

.novelty .swiper-pagination-current,
.novelty .swiper-pagination-total,
.novelty .swiper-pagination-of {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: $dark;
}

.novelty__buttons-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30px;
}

.novelty__buttons-item {
  background-color: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;

  &--prev {
    left: -10px;

    svg {
      transform: rotate(180deg);
    }
  }

  &--next {
    right: -10px;
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $dark-gold;
  }

  @media (max-width: $m-end) {
    svg {
      width: 36px;
      height: 15px;
    }
  }

  @media (max-width: $m-end) {
    display: none;
  }
}
