.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $dark;
  margin-top: 7px;
  max-width: 452px;
  margin-right: -29px;

  @media (max-width: $m-end) {
    max-width: unset;
    margin: 20px 20px 0 0;
  }
}

.user-nav__login {
  text-decoration: none;
  padding: 5px;
  margin-right: 29px;
}


.user-nav__bucket {
  margin: 0;
  padding: 5px 0 5px 5px;
  margin-right: 29px;

  @media (max-width: $m-end) {
    margin: 0;
  }

  svg {
    display: none;
    stroke: $dark;
  }
}
