@mixin pseudo( $content: "", $display: block, $pos: absolute) {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin size( $width, $height: auto) {
  width: $width;
  height: $height;
}

@mixin square($width) {
  width: $width;
  height: $width;
}
