$poppins: "Poppins", "Arial", sans-serif;
$cg: "CormorantGaramond", "Georgia", serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1366px;

$catalog-desk: 1200px;

//colors
$white: #ffffff;
$dark: #1d1613;
$black: #000000;
$dark-gold: #a87b62;
$promo-filter: #564034;
$light-gary: #9B9997;
$shadow: #dbd5d0;
$background-gray: #F0EAE4;
$white-gray: #F6F5F4;
